<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">我们的时间树</h2>
                    <h3 class="section-subheading text-muted">相遇，只是一个开始</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">相遇</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">一场游戏，遇见一个人，有一点意思，有一点喜欢，结局却是恋人未满</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2020</h4>
                                    <h4 class="subheading">奋斗</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">事业上升，努力工作，一切，好像那么自然，生活好像就这样</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020年10月</h4>
                                    <h4 class="subheading">再次相遇</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">生活仿佛会开玩笑，命运让我们再次相遇</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021 - Forever</h4>
                                    <h4 class="subheading">相知，相伴</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">两情若是久长时，又岂在朝朝暮暮</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>未来
                                    <br>可期
                                    <br>不可望</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>